################################################################################
# Visual Studio
################################################################################

.vs/
.vscode/
.idea/

################################################################################
# Build
################################################################################

bin/
obj/

################################################################################
# User files
################################################################################

*.user
*.suo

################################################################################
# Logs
################################################################################

*.log

################################################################################
# OS Files
################################################################################

Thumbs.db
.DS_Store